
.cols {padding:0;margin:0;}
.cols.spacerabove {margin-top:20px;}

.grid_1,.grid_1l,.grid_1w,
.grid_2,.grid_2l,.grid_2w,
.grid_3,.grid_3l,.grid_3w,
.grid_4,.grid_4l,.grid_4w,
.grid_5,.grid_5l,.grid_5w,
.grid_6,.grid_6l,.grid_6w,
.grid_7,.grid_7l,.grid_7w,
.grid_8,.grid_8l,.grid_8w,
.grid_9,.grid_9l,.grid_9w,
.grid_10,.grid_10l,.grid_10w,
.grid_11,.grid_11l,.grid_11w,
.grid_12 {display:inline;float:left;padding:0;margin-right:20px;}

.grid_1,.grid_1l, .flexsize1 {width:60px;}
.grid_2,.grid_2l, .flexsize2 {width:140px;}
.grid_3,.grid_3l, .flexsize3 {width:220px;}	
.grid_4,.grid_4l, .flexsize4 {width:300px;}
.grid_5,.grid_5l, .flexsize5 {width:380px;}
.grid_6,.grid_6l, .flexsize6 {width:460px;}
.grid_7,.grid_7l, .flexsize7 {width:540px;}
.grid_8,.grid_8l, .flexsize8 {width:620px;}
.grid_9,.grid_9l, .flexsize9 {width:700px;}
.grid_10,.grid_10l, .flexsize10 {width:780px;}
.grid_11,.grid_11l, .flexsize11 {width:860px;}
.grid_12,.grid_12l, .flexsize12 {width:940px;margin-right:0;}

.grid_1l {margin-right:0;}
.grid_2l {margin-right:0;}
.grid_3l {margin-right:0;}	
.grid_4l {margin-right:0;}
.grid_5l {margin-right:0;}
.grid_6l {margin-right:0;}
.grid_7l {margin-right:0;}
.grid_8l {margin-right:0;}
.grid_9l {margin-right:0;}
.grid_10l {margin-right:0;}
.grid_11l {margin-right:0;}


.grid_1w, .flexsize1w {width:80px;margin-right:0;}
.grid_2w, .flexsize2w {width:160px;margin-right:0;}
.grid_3w, .flexsize3w {width:240px;margin-right:0;}	
.grid_4w, .flexsize4w {width:320px;margin-right:0;}
.grid_5w, .flexsize5w {width:400px;margin-right:0;}
.grid_6w, .flexsize6w {width:480px;margin-right:0;}
.grid_7w, .flexsize7w {width:560px;margin-right:0;}
.grid_8w, .flexsize8w {width:640px;margin-right:0;}
.grid_9w, .flexsize9w {width:720px;margin-right:0;}
.grid_10w, .flexsize10w {width:800px;margin-right:0;}
.grid_11w, .flexsize11w {width:880px;margin-right:0;}

.clearcol {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
* html .clearfix,*:first-child+html .clearfix{zoom:1}


