
.grid_1,.grid_1l,.grid_1w {background:#969;}
.grid_2,.grid_2l,.grid_2w {background:#699;}
.grid_3,.grid_3l,.grid_3w {background:#996;}	
.grid_4,.grid_4l,.grid_4w {background:#966;}
.grid_5,.grid_5l,.grid_5w {background:#696;}
.grid_6,.grid_6l,.grid_6w {background:#669;}
.grid_7,.grid_7l,.grid_7w {background:#fef;}
.grid_8,.grid_8l,.grid_8w {background:#cff;}
.grid_9,.grid_9l,.grid_9w {background:#ffe;}
.grid_10,.grid_10l,.grid_10w {background:#eef;}
.grid_11,.grid_11l,.grid_11w {background:#fee;}
.grid_12,.grid_12l {background:#efe;}

