@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Store Not Found</title>
    <link href="@Url.Content("~/BVAdmin/Styles.css")" rel="stylesheet" type="text/css" />
    <meta name="Keywords" content="MerchantTribe, Shopping Cart, Online Store, Commerce" />
    <meta name="Description" content="MerchantTribe Store Not Found Error Page" />    
</head>
<body>
    <div id="wrapper">     
        <div class="big-message-wrapper">
        <h1>Store Not Found</h1>
        <p class="flash-message-warning">The store you requested could not be located. Please check the name and try again.</p>
        &nbsp;<br />        
        <p><a href="http://www.MerchantTribe.com">Get a free store today at MerchantTribe.com!</a></p>
        </div>  
    </div>
</body>
</html>
