@{
    Layout = null;
}
@model MerchantTribe.Commerce.Content.ContentColumn
@using MerchantTribe.Commerce.Contacts;

@foreach (var b in Model.Blocks)
{
    <div style="border:solid 1px red;">
    @Html.Action("DisplayBlock", "ContentBlock", b)    
    </div>
}
