@{
    ViewBag.Title = "Rebuild Search Index";
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}

<h1>Search Index</h1>
    
@Html.Raw((string)TempData["message"])
@Html.BeginForm()
    <input type="submit" value="Rebuild Search Index" />
</form>