@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}
<h1>System Wide Product Search</h1>

@Html.BeginForm()
    <input type="text" size="40" name="keyword" />
    <input type="submit" value="Search All Stores" />
</form>
&nbsp;<br />
@Html.Raw((string)TempData["results"])