@{
    ViewBag.Title = "Free Shopping Cart Software | MerchantTribe.com | Helping Merchants Connect, Learn and Grow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Page Title Here</h1>

<form action="/home/signup" method="post">
    <input type="text" id="email" name="email" />
    <button type="submit">THIS IS MY BUTTON</button>    
</form>



