@{
    ViewBag.Title = "Free Shopping Cart Software | MerchantTribe.com | Helping Merchants Connect, Learn and Grow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="band">
<div class="signupform">
<form action="/home/signup" method="post">
    <input type="text" id="email" name="email" value="Enter Your Email" />
    <input type="image" src="/content/RequestButton.png" alt="Request Invite" />
</form>
</div>
</div>
<div class="teasertext">
<div class="hide">
<p>Merchant Tribe is a new way to create online stores. Weprovide the tools you need to get started and the educationyou need to succeed.</p><p>We’re beta testing right now and need motivated merchantsto help optimize our service. If you’d like to join the MerchantTribe and receive a free online store request an invite today!</p>
</div>
<img src="/content/TeaserText.png" alt="Merchant Tribe is a new way to create online stores." border="0" />
</div>




