@{
    ViewBag.Title = "Thank you for your interest in MerchantTribe.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="band">
<div class="signupform">
<h2>Thank You!</h2>
</div>
</div>


