@{
    Layout = null;
}
@model MerchantTribeStore.Models.ProductListViewModel
<div class="productgrid">
    <div class="decoratedblock">
            <h4>@Model.Title</h4>            
            @foreach (var p in Model.Items)
            {
                @Html.Action("RenderSingleProduct", "Products", new { Area = "", product = p })
            }    
            <div class="clear"></div>          
    </div>
</div>

