@{
    Layout = null;
}
@model MerchantTribeStore.Areas.ContentBlocks.Models.SideMenuViewModel
    <h4>@Model.Title</h4>
    <ol>
        @foreach (var item in Model.Items)
        {
            <li><a href="@item.Url" title="@item.Title">@item.Name</a></li>
        }
    </ol>
