<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BVSoftware.AcumaticaToolsConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BVSoftware.AcumaticaTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BVSoftware.AcumaticaToolsConsole.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SiteAddress" serializeAs="String">
                <value>http://localhost/AcumaticaErp2/</value>
            </setting>
            <setting name="NewItemTaxCategoryId" serializeAs="String">
                <value>TAXABLE</value>
            </setting>
        </BVSoftware.AcumaticaToolsConsole.Properties.Settings>
        <BVSoftware.AcumaticaTools.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SiteAddress" serializeAs="String">
                <value>http://127.0.0.1/AcumaticaErp1/</value>
            </setting>
        </BVSoftware.AcumaticaTools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
