@{
    Layout = null;
}
@model MerchantTribeStore.Areas.ContentBlocks.Models.SideMenuViewModel
<div class="sidemenu topsellers">
    <div class="decoratedblock">
        <h3>@Model.Title</h3>        
        <ol>
            @foreach (var item in Model.Items)
            {
                <li><a href="@item.Url" title="@item.Title">@item.Name</a></li>
            }
        </ol>
    </div>
</div>           
           

