@model MerchantTribe.Commerce.Content.Parts.PartJsonResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <fieldset>
        <legend>PartJsonResult</legend>
    
        <div class="display-label">Success</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Success)
        </div>
    
        <div class="display-label">IsFinishedEditing</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IsFinishedEditing)
        </div>
    
        <div class="display-label">ResultHtml</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ResultHtml)
        </div>
    
        <div class="display-label">ScriptFunction</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ScriptFunction)
        </div>
    </fieldset>
</body>
</html>
