<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="commerce6ConnectionString" connectionString="Data Source=192.168.1.101;Initial Catalog=CommerceHostedStaging;User ID=commercehosted;Password=bobacat1618!"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
  <appSettings>
    <add key="IgnoreUpdates" value="1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="BaseApplicationUrl" value="http://www.bvcommercebeta.com/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServer" value="smtp.gmail.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerUsername" value="bvcommerce@bvsoftware.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerPassword" value="bv9702commerce!" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerSSL" value="True" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerPort" value="587" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerAsync" value="False" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="BillingStoreId" value="432" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="storekey" value="D13400AA-B216-42F7-B29E-200A5401A41D" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="disablecsscaching" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="0"/>
    <add key="RouteDebugger:Enabled" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="false" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Locator="Replace" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="nopermission.aspx" />
    </customErrors>
  </system.web>
</configuration>