<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="commerce6ConnectionString" connectionString="Data Source=localhost;Initial Catalog=CommerceHosted;User ID=commercehosted;Password=password"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
  <appSettings>
    <add key="IgnoreUpdates" value="1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="BaseApplicationUrl" value="http://localhost/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServer" value="localhost" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerUsername" value="user@domain.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerPassword" value="secretpassword" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerSSL" value="False" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerPort" value="25" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MailServerAsync" value="False" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="BillingStoreId" value="-1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="storekey" value="C589E3FB-9B9D-47EB-A694-690A97742C82" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="disablecsscaching" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="0"/>
    <add key="RouteDebugger:Enabled" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="false" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Locator="Replace" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="nopermission.aspx" />
    </customErrors>
  </system.web>
</configuration>