
#carttotals .formlabel2 {font-size:11px;color:#666;}
#carttotals .formfield2 {font-size:110%;font-weight:bold;color:#000;}
#cartcoupons {display:block;}


.totalsub,
.totaltax,
.totalshipping,
.totalgrand,
.totaldiscount {text-align:right;vertical-align:top;}

.totaltable {width:400px;}

.totallabel {text-align:left;vertical-align:top;}

.totaldiscountdetail {font-size:11px;color:#666; text-align:left;}
.totaldiscount {font-size:11px;}



