@using MerchantTribeStore.Models;

<div class="homepage">
        <div id="homepagecolumn1">            
            @Html.Action("Index", "ContentColumn", new {id="1"})
        </div>
        <div id="homepagecolumn2">
            @Html.Action("Index", "ContentColumn", new {id="2"})
        </div>
        <div id="homepagecolumn3">
            @Html.Action("Index", "ContentColumn", new {id="3"})
        </div><div class="clear"></div>  
</div>  
