@{
    Layout = null;
}           
@model MerchantTribeStore.Models.ContentBlock.CategoryMenuViewModel
<div class="categorymenu">
    <div class="decoratedblock">        
        @if (!string.IsNullOrEmpty(Model.Title))
        { @Html.Raw(Model.Title) }
        @Html.Raw(Model.Contents)
    </div>
</div>
