<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />    
</head>
<body>
    <div class="logo">
        <h1><span class="hide">Merchant Tribe</span></h1>
    </div>    
    @RenderBody()
</body>
</html>
