@{
    Layout = null;
}
@model MerchantTribe.Commerce.Catalog.Product
<div class="productrotator">
    <div class="decoratedblock">
        <div class="blockcontent">
            @Html.Action("RenderSingleProduct", "Products", new { Area = "", product = Model })   
        </div>
    </div>
</div>         

