@model MerchantTribeStore.Areas.ContentBlocks.Models.CategoryMenuViewModel
<div class="categorymenu">
    <div class="decoratedblock">        
        @if (!string.IsNullOrEmpty(Model.Title))
        { @Html.Raw(Model.Title) }
        @Html.Raw(Model.Contents)
    </div>
</div>
