<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
                  </configSections>
  <connectionStrings>
    <add name="MerchantTribe.Commerce.Properties.Settings.commerce6ConnectionString"
      connectionString="Data Source=127.0.0.1;Initial Catalog=CommerceHosted;User ID=commercehosted;Password=commercehosted"
      providerName="System.Data.SqlClient" />
    <add name="MerchantTribe.Commerce.Properties.Settings.commerce6ConnectionString1"
      connectionString="Data Source=.;Initial Catalog=commerce6;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MerchantTribe.Commerce.Properties.Settings.commerce6ConnectionString2"
      connectionString="Data Source=.;Initial Catalog=commerce6;Persist Security Info=True;User ID=commercehosted;Password=commercehosted"
      providerName="System.Data.SqlClient" />
    <add name="Models" connectionString="metadata=res://*/Data.MainModel.csdl|res://*/Data.MainModel.ssdl|res://*/Data.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=commerce6;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CatalogDbContainer" connectionString="metadata=res://*/Data.EF.CatalogDb.csdl|res://*/Data.EF.CatalogDb.ssdl|res://*/Data.EF.CatalogDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=commerce6;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntityFrameworkDevConnection" connectionString="metadata=res://*/Data.Models.csdl|res://*/Data.Models.ssdl|res://*/Data.Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=commerce6;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntityFrameworkDevConnectionString" connectionString="metadata=res://*/Data.EF.Models.csdl|res://*/Data.EF.Models.ssdl|res://*/Data.EF.Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=commerce6;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>