@using MerchantTribe.Commerce.Catalog;

@if (ViewBag.FileDownloads != null)
{
    @if (ViewBag.FileDownloads.Count > 0)
    {
        <h2>Your Order Contains Downloads</h2>
        <table>
        @foreach (ProductFile f in ViewBag.FileDownloads)
         {
                 <tr>
                    <td>@f.ShortDescription</td>
                    <td><a href="@Url.Content("~/account/orderhistory/downloadfile/" + f.Bvin)">
                        <img src="@ViewBag.FileDownloadsButtonUrl" alt="Download" /></a></td>
                 </tr>         
         }
         </table>
         <br /> <br />
    }
}
