<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MerchantTribe.Billing.Properties.Settings.commerce6ConnectionString"
            connectionString="Data Source=.;Initial Catalog=commerce6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>