/* Resetting Browser-Set Defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* Body Styles */
body { background: #F0EDE3; font-family: Arial, Verdana, Sans-Serif; color:#000; font-size: 13px;line-height:1.385em; }

.clear {clear:both;}
.padded {padding:10px;}
.sidepadded {padding:0 10px;}


a, a:visited {color:#4982AB;}
a:hover {color:#c00;}

/* Wraps the entire site */
#site-wrapper {padding:0px 0 0 0;background: url('{{assets}}TravelBg.jpg');}

/* Header */
#header {background: url('{{assets}}HeaderBg.png') #ddd;}
#header #logo-area {height:70px;width:310px;float:left;}
#header #logo-area h6 {display:none;font-size:40px;font-weight:bold;color:#333;
margin:28px 0 0 10px;line-height:1em;}
#header #logo-area a img {margin:0px 0 0 0px;}
#header #logo-area a.logo {font-size:24px;color:#000;text-decoration:none;line-height:1em;padding:18px 0 0 18px;display:block;font-weight:bold;}
#header ul {list-style:none;}                           
#header li {float:left;list-style:none;}

#links-area {width:400px;height:24px;margin:9px 10px 0 0;float:right;
             font-size:14px; line-height:1.286em;}
#links-area ul {float:right;}
#links-area li {float:left;}                            
#links-area a {color:#333;text-decoration:none;font-size:12px;}  
#links-area a:hover {color:#00e;text-decoration:underline;}                    
#links-area a span {display:block;height:18px;padding:0 0 0 18px;}

#header-menu {background: url('{{assets}}HeaderMenuBg.png') repeat-x bottom left #3b593b;overflow:hidden; color:#fff;clear:both;height:34px;}
#header-menu ul {}
#header-menu li {margin: 0 0 0 2px; font-size: 11px; line-height: 24px; }
#header-menu a {font-size:14px;float: left; padding:3px 10px 0 10px; color: #fff;text-decoration: none;}
#header-menu a:hover {color:#fff; text-decoration: underline;}

#cart-link {height:18px;padding:5px 10px;margin:3px 10px 0 0;text-align:right;float:right; background-color:#333;}
#cart-link a {text-decoration:none;color:#fff;}
#cart-link a:hover {text-decoration:underline;color:#fff;}

#search-form {clear:right;width:345px;margin:0;padding:0px 10px 0 0;height:35px;float:right; text-align:right;}
#headersearchbox {display:block;border:solid 1px #333;margin:5px 0 0 100px;padding:0 5px;height:22px;width:150px;float:left;}
#headersearchlink {display:block;width:75px;height:24px;margin:4px 0 0 5px;float:left;background: url('{{assets}}btnSearch.png') no-repeat;}
#headersearchlink span {display:none;}



/* Main Content Wrapper */
#main-content {background-color:#fff;width:940px;margin:0 auto;padding:0 10px;}
#main-with-left-nav {width:752px; float:right;margin: 0px 0px 0px 0;}
.store-home-page #main-content {width:960px;background:transparent;padding:0;}

/* Footer */
#footer {clear:both;text-align:center;color:#333;}
#footer a {color:#fff;text-decoration:none;}
#footer a:hover {color:#fff;text-decoration:underline;}

.topfooter {background-color:#f7f6f1;width:940px;padding:10px 10px;margin:0 auto;
border-top:solid 0px #494949;}
.bottomfooter, .bvtag {display:block;background-color:#494949;width:940px;padding:5px 10px;margin:0 auto;color:#999;}
#footer .bvtag a {color:#999;}
.footerblock {width:300px; height:100px;float:left;text-align:left;}
.footerblock.mid {margin:0 17px;}
.footerblock p {padding:0 0 0 5px;}
.footerblock h3 {display:block;width:300px;height:19px;}
.footerblock h3 span {display:none;}
.footerblock h3.aboutus {background: url('{{assets}}h3_aboutus.png') no-repeat;}
.footerblock h3.ourguarantee {background: url('{{assets}}h3_ourguarantee.png') no-repeat;}
.footerblock h3.contactus {background: url('{{assets}}h3_contactus.png') no-repeat;}


/* Holds all left navigation items */
#left-nav-column {width:220px;float:left;}

/* Flash Messages */
.flash-message-info, .flash-message-success, .flash-message-failure, .flash-message-warning
{border-style: solid;border-width: 1px 0px 1px 3px;padding: 0.5em 1em;font-size: 16px;
 margin:0.25em 0;color:#333;}
.flash-message-info {background-color: #CFF;	border-color: #3CF;}
.flash-message-success {background-color: #DFFFDF;border-color: #3C3;} 
.flash-message-failure {background-color: #C10000;border-color: #C10000;color: #ff0;}
.flash-message-warning {background-color: #fffed7;border-color: #B3B300;}

/* General Text */
h1 {font-size:24px;line-height:1.5em;font-weight:bold;color:#444444;}
h2 {font-size:18px;line-height:1em;color:#666;margin:9px 0;font-weight:bold;}
h3 {font-weight:bold;color:#666;font-size: 13px;line-height:1.385em;}
h4 {font-weight:bold;font-size:14px;line-height:1.286em;margin:0 9px;
    padding:7px 9px 9px 9px;color:#333;}

.smalltext {font-size:11px;color:#666;line-height:1.63636;}
.curved {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}

/* Homepage */
#welcome-text, #featured-products {margin:0 9px;}
#welcome-text {padding:0 0 18px 0;width:677px;}

/* left nav styles */
#left-nav-column .category-tree {list-style:none;margin:0 0 0 9px;}
#left-nav-column .link-tree {list-style:none;margin:0 0 0 9px;}

#left-nav-column .category-tree li {font-size:14px;line-height:1.286em;}
#left-nav-column .link-tree li {font-size:14px;line-height:1.286em;}

#left-nav-column .category-tree li a {text-decoration:none;color:#333;display:block;
                                   width:182px;height:35px;border-top:solid 1px #ccc;
                                   overflow:hidden;}
#left-nav-column .category-tree li a span {margin:7px 9px 0 9px;display:block;}         
#left-nav-column .category-tree li a:hover {background-color:#efefef;}
                          
#left-nav-column .link-tree li a {text-decoration:none;color:#333;display:block;
                                   width:182px;height:35px;border-top:solid 1px #ccc;
                                   overflow:hidden;}
#left-nav-column .link-tree li a span {margin:7px 9px 0 9px;display:block;}         
#left-nav-column .link-tree li a:hover {background-color:#efefef;}
									
/* Shopping Cart */

#cart-table {border:solid 1px #ccc;width:100%;margin:9px 0 18px 0;}
#cart-table th {background-color:#999;color:#fff;text-align:right;font-weight:bold;
                padding:0 9px;}
#cart-table td {padding:9px 7px;text-align:right;}
#cart-table .left {text-align:left;}
#cart-table td.left {border-top:dashed 1px #ccc;}

.cart-item-description {font-weight:bold;color:#666;font-size:14px;line-height:1.286em;}
.cart-item-sku, .cart-item-dateadded {font-size:11px;line-height:1.636em;color:#666;}

#cart-page .cart-totals {border-top:solid 1px #666;font-weight:bold;}

#cart-page .cart-totals .total {display:block;width:300px;height:18px;float:right;
                                margin:9px 0;text-align:left;clear:both;}
#cart-page .cart-totals .total label {font-size:14px; line-height:1.286em;color:#666;text-align:right;
                                      display:block;width:178px;float:left;}
#cart-page .cart-totals .total span {font-size:18px;line-height:1em;text-align:right;
                                     display:block;width:120px;float:right;}


                                     
#cart-page td a.tiny-action {font-size:11px;text-decoration:none;}
#cart-page td a.tiny-action:hover {text-decoration:underline;}

#cart-page #cart-controls {height:36px;font-size:18px;margin:0.5em 0 1em 0;}
#cart-page #cart-controls .controls-left {width:49%;float:left;}
#cart-page #cart-controls .controls-right {width:49%;float:right;text-align:right;}

/* Checkout Page */
.checkout {}
.checkout .sections {width:700px;float:left;}
.checkout .section-sidebar {width:220px;float:right;}

.checkout h2 {font-size:22px;color:#333;padding:0;margin:0.5em 0 0.5em 0;}
.section-email,
.section-shipping,
.section-billing,
.section-delivery,
.section-payment,
.section-totals,
.section-extras,
.section-actions,
.section-cart {border:solid 1px #999;padding:0 10px 10px 10px; background-color:#eaeaea;margin:0 0 9px 0;}
.section-actions {text-align:center;}

.section-email #customeremail {width:500px;}

.checkout .formlabel {font-size:14px;color:#666;}
.checkout .address-table, .checkout .creditcardinput table {margin:1em auto;font-size:14px;color:#666;}
.checkout .address-table select, .checkout .address-table input, 
.section-email input, .creditcardinput input,
.creditcardinput select {font-size:18px; border:solid 1px #ccc;}

.section-totals {font-weight:bold;}
.section-totals .total {display:block;width:300px;height:18px;float:right;margin:9px 0;text-align:left;clear:both;}
.section-totals .total label {font-size:14px; line-height:1.286em;color:#666;text-align:right;display:block;width:178px;float:left;}
.section-totals .total span {font-size:18px;line-height:1em;text-align:right;display:block;width:120px;float:right;}

.checkout .short-field {}    
.checkout .checkout-label {color:#666;text-align:right;vertical-align:top;}
.checkout .address-table td, .checkout .creditcardinput td {padding:1px 3px;}

.checkout .checkout-button {font-size:18px;font-weight:bold; background-color:Green;color:White;}


.input-validation-error, .checkout .input-validation-error {border:solid 1px #f00;background-color: #fee;}

.validation-summary-errors {color:#333;}
.validation-summary-errors li {border-style: solid;border-width: 1px 0px 1px 3px;padding: 0.5em 1em;font-size: 16px;
 margin:0.25em 0;color: #333;background-color: #fee;border-color: #f00;list-style:none;}
 
 #cart-addresses {margin:18px 0;}
 #cart-addresses #billing-address {width:345px;float:left;}
 #cart-addresses #shipping-address {width:214px;float:right;}
 

#SiteMapColumns ul {margin:0em 0 0em 0em; list-style:none;}
#SiteMapColumns li {margin:0 0 0 1em;}
#SiteMapColumns strong {font-weight:bold;}




/* Columns */
#homepagecolumn1, #navcolumn, #categoryleft {width:220px;float:left;}
#homepagecolumn2 {width:480px; margin: 0; float:left;}
#homepagecolumn3 {width: 220px;float:right;}
#maincolumn, #categorymain {width:700px;float:right;margin-left: 10px;}

/* Column Blocks */
.decoratedblock { position: relative; margin: 0 0 15px 0;padding: 0 0 5px 0; position: relative; }
.blockcontent { padding: 5px; }

/* Home Page Center Column Blocks */
#homehero {display:block;margin:10px 0 0 0;}
#homepagecolumn2 {height:195px;width:960px;}
.homebanner {height:175px;float:left;margin:10px 10px 0 0;}
#homead3 {margin:10px 0 0 0;}

/* Column Menu Lists */
.sidemenu ul, .categorymenu ul {padding:0 5px;margin:5px;}
.sidemenu li, .categorymenu li {padding: 2px;margin:0;list-style-type:none;list-style-position:inside;color:#7884D6;line-height:1.2em;}
.sidemenu li a, .categorymenu li a {text-decoration:none;color:#333;}
.sidemenu li a:hover, .categorymenu li a:hover {text-decoration:underline;}
.categorymenu ul li.current a { font-weight: bold; }
.categorymenu ul li.current ul a { font-weight: normal; }

/* Column Product Rotators */
.productrotator .decoratedblock { text-align: center; background: none; }
.productrotator a { text-decoration: none; line-height: 1.5em; }
.productrotator a img { border: 5px solid #eee !important; margin: 0 0 5px 0; }
.productrotator a:hover img { border: 5px solid #ddd !important; }

/* Bread Crumbs */
.breadcrumbs {margin:0;padding:5px 0;border-bottom:solid 1px #ccc;}
.breadcrumbs a {}
.breadcrumbs a:hover {}

/* Site Map Page Styles */
#SiteMapColumns { clear: both; overflow: hidden; width: 100%; }
#SiteMapColumns li { list-style: square inside; color: #ccc; }
.ColumnOne { width: 450px; float: left; border-right: 1px solid #eee; }
.ColumnTwo, .ColumnThree { width: 450px; float: right; margin-bottom: 15px; }

/* Pager Control */
.pager { margin: 10px 0; padding: 5px 0; text-align: center; clear: both;}
.pager ul {list-style:none;margin:0;padding:0;}
.pager ul li {display:inline;margin:0 2px;padding:0;color:#fff;font-size:85%;}
.pager a, .pager .disabled { color: #333; padding: 3px 6px; text-decoration: none;background:#f1ede4; }
.pager .disabled { color: #ccc; }
.pager li.current a { color: #fff; font-weight: bold; background: #e7870c; }
.pager a:hover { background: #e7a754; color: #fff; }

/* Category Product Display Defaults */
.recordsku a { font-size: 12px; color: #666; text-decoration: none; text-transform: uppercase; }
.recordname { font-size: 13px;}
.recordshortdescription a { text-decoration: none; }
.recordshortdescription { margin: 5px; }
.recordprice { font-size: 12px; font-weight: normal; }
.recordprice a { text-decoration: none;font-weight:bold; }
.recordcontrols { margin: 10px; }
.recordimage {text-align: left;}

/* Single Product Styles */
.record {width:220px;margin:0 20px 20px 0;float:left;}
.record a {color:#666;text-decoration:none;}
.record a:hover {color:#c00;text-decoration:underline;}
.firstrecord {clear:both;}
.lastrecord {margin-right:0;}
.recordname {text-align:left;line-height:1.5em;}
.recordsku {text-align:left;margin: 3px 0;}
.recordprice {text-align:left;border:none;margin:0;padding:0;line-height:1em;}
.recordprice a {color:#c00;}

/* Featured Products */
.featuredproducts .record {float:left;margin:0 0 20px 20px;height:260px;}

.productgrid .decoratedblock {margin:0;padding:0;}

/* Simple & Bulk Order Lists */
/*.categorysimplelisttemplate, .categorybulkorderlisttemplate {margin:20px 0 0 0;}*/
.categorysimplelisttemplate {padding:0 0 10px 0;}
.categorysimplelisttemplate .record {display:block;margin:0 0 0.5em 0;width:700px;}
.categorysimplelisttemplate .recordsku, 
.categorybulkorderlisttemplate .recordsku,
.categorybulkquantitylisttemplate .recordsku {float:left;text-align:left;width:20%;}
.categorysimplelisttemplate .recordname, 
.categorybulkorderlisttemplate .recordname,
.categorybulkquantitylisttemplate .recordname {text-align:left;float:left;width:45%;margin:0 10px 0 0;}
.categorysimplelisttemplate .recordprice, 
.categorybulkorderlisttemplate .recordprice,
.categorybulkquantitylisttemplate .recordprice {text-align:right;float:right;width:30%;margin:0;}

.categorybulkorderlisttemplate .record { width:600px; padding: 0 0 10px 10px; margin: 0 0 8px 0; border-bottom: 1px solid #eee; float: left; }
.categorybulkorderlisttemplate table td { vertical-align: top; }
.categorybulkorderlisttemplate .checkbox {width:50px;text-align:center;}

.categorybulkquantitylisttemplate .record { width:600px; padding: 0 0 10px 0; margin: 0 0 8px 0px; border-bottom: 1px solid #eee; float: left; }
.categorybulkquantitylisttemplate table td { vertical-align: top; }
.categorybulkquantitylisttemplate .quantityfield {width:50px;text-align:center;}


/* Details List */
/* Detailed List */
.categorydetailedlisttemplate {}
.categorydetailedlisttemplate .record {margin:0 0 10px 0px;padding-bottom:10px;width:700px;float:left;border-bottom: 1px solid #ddd;
                                       text-align:left;}
.categorydetailedlisttemplate .recordimage {float:left;margin:0 20px 0 0;text-align: center;}
.categorydetailedlisttemplate .recordname {text-align:left;}
.categorydetailedlisttemplate .recordsku {text-align:left;}
.categorydetailedlisttemplate .recordprice {text-align:left;}
.categorydetailedlisttemplate .recordshortdescription {text-align:left;}


/* ------ Product Pages ------ */
#wait { position: absolute; top: 0; right: 0; font-weight: bold; font-size: 80%; padding: 0 10px; background: #c00; color: #fff; }

/* Product Page Template */
#productpage .imagecolumn {float:left;width:460px;}
#productpage .actioncolumn {float:right;width:460px;}
#productpage .informationcolumn {clear:both;}
#productpage .options {margin:10px 0;}
#productcontrols label {display:block;width:150px;float:left;clear:both;text-align:right;font-weight:bold;margin:0 0 5px 0;}
#productcontrols .choice {display:block;width:270px;float:left;margin:0 0 5px 20px;text-align:left;}

#productpage #ProductReviews {clear: both;}
.productimage {margin: 0px 0; }

/* Product Controls Box */
#productcontrols { border-top: 1px solid #e4e4de; border-bottom: 1px solid #e4e4de; background: #f5f5ef; padding: 10px; margin: 10px 0; position: relative; }
.formlabel { text-align:right; }
.productpropertylabel { padding-right: 5px; text-decoration: none; }
.listprice, .ListPrice {text-decoration: line-through; color:#999;}
.siteprice, .SitePrice {font-weight:bold;font-size: 120%;color:#000;}
.yousave, .YouSave {color:#666;}
#productcontrols .buttons {clear:both;margin:10px 0 5px 170px;}
#buttons input { margin: 5px; }
#wishlist { margin-top: 5px; }


/* Tabs */
ul.tabnavigation {margin:0;padding:0;}
ul.tabnavigation li {display:block;float:left;margin:0 3px 0 0;height:30px;background-color:#e4e4de;}
ul.tabnavigation li.selected {background-color:#3b593b;color:#fff;}
ul.tabnavigation li a {display:inline-block;padding:5px 10px 0 10px;color:#353535;text-decoration:none;}
ul.tabnavigation li.selected a {color:#fff;}
.tabs {clear:both;border-top:solid 5px #3b593b;}

/* Product Reviews & Cross/Up Sells */
.reviews .reviewlist {width:440px;float:left;}
.reviews .reviewform {width:440px;float:right;}
.ProductReviews, #CrossSells {}
.ProductReviewLinks {} 
.ProductReview { margin: 10px; padding: 0 0 0 5px; border-left: 5px solid #eee; }
.ProductReviewKarma { display: block; padding-top: 5px; font-size: 90%; color: #666; }
.ProductBadge { position: absolute; top:-5px; left:-20px; }

/* Cart Page */
.cartitemimage {float:left; margin: 0 0 0 0;}
.cartitemimage img {width:110px;}
.cartitemdescription { margin: 5px;}
#cartcontainer tr td {border-bottom:solid 1px #666; padding: 6px; vertical-align:top;}
#cartcontainer, #cartactions, #cartcoupons {margin: 0;}
td.productquantitycolumn { text-align: center; width: 10%; }
td.producttotalcolumn, td.productpricecolumn { text-align: center; width: 10%; }
td.producttotalcolumn {background-color:#eaeaea;}
td.producttotalcolumn .lineitemnodiscounts { display: block; color: #999; text-decoration: line-through; }
td.producttotalcolumn .totallabel { display: block; font-weight: bold; }
#cartfooter {margin: 10px 0px 0 0px;}
#carttotals {width:400px;float:right;margin-bottom:10px;text-align:right;}
#carttotals table {float:right;}
#carttotals .formlabel, #carttotals .formfield { font-size:110%; font-weight: bold; color: #4982AB; }
#cartupdates {width:350px;margin-bottom:10px;text-align:right;float:right;}
#cartactions {clear:both;text-align:right;padding-bottom:12px;margin-top: 20px;}
#cartactioncontinue {float:left;width:120px;text-align:left;}
#cartactioncheckout {display:inline;}
#cartcoupons {border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#eee;padding:10px;margin: 0px 0;}
.cartsku { font-size: 90%; }
.cartproductname { font-size: 110%; font-weight: bold; }

ul.lineitemoptions {margin:0 0 0 20px;}


/* Receipt Page */
.store-receipt-page .content-wrapper {width:710px;margin:0 auto;text-align:left;
padding:10px 0;}

/* Closed Store Message */
#closedcontent {width:300px;height:200px;margin:50px auto;padding:10px;background-color:#ff9;color:#333;}
#closedcontent h1 {color:#000;}

/* Address Book */
.address { border: 1px solid #eee; padding: 5px 10px; margin: 0 5px 15px 0; }
.address .buttonrow { margin: 5px 0; padding: 0; text-align: left; }
table.alladdresses, table.primaryaddresses { margin: 5px 0; width: 100%; }
table.alladdresses td, table.primaryaddresses td { vertical-align: top; }

/* Search Page - NEED TO REVISIT SEARCH PAGE */
.searchresults { margin: 10px auto; width:705px;}

/* Row Elements */
.Header, .rowheader, th { background: #666; color: #fff; padding: 0; font-weight: bold; padding: 5px 0; text-align: center; }
.rowheader { font-size: 90%; }
.row { background: #eaeaea; }
.altrow { background: #eaeaea; }

/* Affiliate Form */
fieldset#affiliateform table { width: 600px; }
fieldset#affiliateform table table { margin: 0; padding: 0; width: 100%; }
fieldset#affiliateform td.formlabel { width: 150px; }

/* Returns Form */
.returnitems table { width: 100%; }
.returnitem .formlabel, .returnitem .formfield { padding: 3px; }
.returnitem { margin: 5px; }
.returncontrols { margin: 5px 0 0 0; padding: 5px; border: 1px solid #ddd; background: #eee; }
.returnitems td.qtycolumn { vertical-align: top; }
.returnitems .qtyfield { background: #eee; margin: 5px 0; padding: 5px;  }
.returnitems .qtyfield input { width: 25px; text-align: center; border: 1px solid #ccc; }
.rmaform { margin: 20px 0; }
.rmaform table tr td { padding: 3px; }
.rmaform .formtextarea { height: 100px; width: 400px; }

/* Messages */
.AddedToCartMessage, .messagebox { display: block; border: 1px solid #fe3; background: #ff9; border-left: none; border-right: none; margin: 10px 0; padding: 0 10px; }
.messagebox ul { margin: 0; padding: 0; display: block; width: 100%; }
.messagebox li { margin: 10px 0; padding: 0; overflow: hidden; width: 100%; }
.messagebox .icon { float: left; margin: 0 8px 0 0; }
.messagebox .errorline { color: #333; clear: both; list-style: none; }
.messagebox .message { margin: 0 5px 0 10px; font-size: 100%; line-height: 1.2em; }
.errormessage { color: #c00; line-height: 2em; padding: 0 5px; font-size: .8em; }
.errormessage li { color: #c00; list-style-type: circle; }
.AddedToCartMessage, .SuccessMessage { color: #0c6; }

/* Pop Over */
 .overlay {border-width: 0;margin: 0;padding: 0;background:black none repeat scroll 0 0;display:none;height:2500px;
  left:0; filter:alpha(opacity=70); opacity: 0.70; top:0; width:100%; z-index:50; display:none; position:fixed; -moz-background-clip: -moz-initial;
  -moz-background-origin: -moz-initial;-moz-background-inline-policy: -moz-initial;    
}
.modal{position:absolute;left:30%;top:15%;z-index:51;display: none;}
.popoverframe {background:#fff;width:600px;height:400px;padding:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#popoverpage {width:600px;height:380px;}

/* Customer Login */
.sidebysidea, .sidebysideb {width:50%;float:left;}
.loginpage .sidebysidea, .loginpage .sidebysideb {padding:10px;}


/* Drill Down Search */
h6.filter {font-size:16px;font-weight:bold;border-bottom:solid 1px #ccc;
           margin-top:0.5em;}
ul.filterselected {margin:1em;}
ul.filterselections {margin:1em;}

ul.filterselected li, ul.filterselections li {margin:0.25em 1em;list-style:none;}

/* December 1st update for additional images */
.productimage {margin: 0px 0; height:440px;width:440px; }
.additionalimages a {display:block;float:left;width:50px;height:50px;border:solid 1px #999;margin:0 3px 3px 0;}
.modal2{position:absolute;top:0%;z-index:51;display: none;margin:30px auto;}
.modal2 a {margin-left:10px;text-decoration:none;}
.modal2 a:hover {text-decoration:underline;}
.popoverframe2 {background:#000;width:900px;height:940px;padding:10px;-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;}
.popoverframe2 a {color:#fff;}
#popoverpage2 {width:900px;height:900px;}

{{commonupdates}}
