<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BVSoftware.Billing.Properties.Settings.CommerceHostedConnectionString"
            connectionString="Server=.;database=commerce6;uid=sa;pwd=bobacat1618!;" />
    </connectionStrings>
</configuration>