@{
    Layout = null;
}
@model List<MerchantTribeStore.Models.SingleProductViewModel>
<div class="productgrid">
    <div class="decoratedblock">
        <div class="blockcontent">
            @foreach (var vm in Model)
            {
                @Html.Partial("~/Views/Shared/_RenderSingleProduct.cshtml", vm)
            }            
        </div>
    </div>
</div>
           

