<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
<connectionStrings><add name="BV53Entities" connectionString="metadata=res://*/Migrators.BV5.data.OldDatabase.csdl|res://*/Migrators.BV5.data.OldDatabase.ssdl|res://*/Migrators.BV5.data.OldDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=shipped_5.3;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="bvc2004Entities" connectionString="metadata=res://*/Migrators.BV2004.data.OldDatabase.csdl|res://*/Migrators.BV2004.data.OldDatabase.ssdl|res://*/Migrators.BV2004.data.OldDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=shipped_2004;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>