@{
    Layout = null;
}
@model MerchantTribeStore.Models.ProductListViewModel

<div class="featuredproducts">    
  @foreach (var p in Model.Items)
  {
      @Html.Action("RenderSingleProduct", "Products", new { Area = "", product = p })      
  }
  <div class="clear"></div>
</div>
            

