@{
    Layout = null;
}
@model MerchantTribeStore.Areas.ContentBlocks.Models.FeaturedProductsViewModel

<div class="featuredproducts">    
  @foreach (var p in Model.Items)
  {
      @Html.Partial("~/Views/Products/RenderSingleProduct.cshtml", p)      
  }
  <div class="clear"></div>
</div>
            

