@{
    Layout = null;
}
@if (ViewBag.AllowPasswordReset == true)
{
    <div class="setfirstpassword">
    <div class="flash-message-info">An account and password were created for you automatically.<br />
    &nbsp;<br />
    <input type="checkbox" id="chksetpassword" /> I'd like to set my password<br />
    &nbsp;</div>
    <br />
    <div id="firstpasswordform" style="display:none;">
        <div id="changing" style="display: none;">
            <img src="@Url.Content("~/content/images/system/ajax-loader-small.gif")" border="0" alt="Loading..." /> Please Wait...
        </div>
        <div id="passwordmessage"></div>                    
        Create a Password:<br />
        <input type="password" id="password" size="20" /><br />
        <input id="setpasswordbutton" type="image" src="@ViewBag.SubmitButtonUrl" alt="Set Password" />
        <input type="hidden" id="email" value="@ViewBag.Email" />
        <input type="hidden" id="orderbvin" value="@ViewBag.OrderBvin" />
    </div>
    </div>
}