<h1>Thank You! Order Received.</h1>
@if (ViewBag.AcumaticaOrder != null)
{
    @Html.Partial("_ViewOrderAcumatica")
}
else
{
    @Html.Partial("_ViewOrder", (MerchantTribe.Commerce.Orders.Order)ViewBag.Order)
}