<h1>Thank You! Order Received.</h1>
@if (ViewBag.AcumaticaOrder != null)
{
    @Html.Partial("_ViewOrderAcumatica")
}
else
{
    @Html.Partial("_ViewOrder", (MerchantTribe.Commerce.Orders.Order)ViewBag.Order)
}
@{
    var o = (MerchantTribe.Commerce.Orders.Order)ViewBag.Order;
    var Grand = o.TotalGrand.ToString();
}
@section PreBodyCloseContent
{
    <script type="text/javascript">
        MerchantTribeAnalytics.EventCode = '2';
        MerchantTribeAnalytics.EventAmount = '@Grand';
        MerchantTribeAnalytics.EventDescription = '@o.OrderNumber';
    </script>
}