@{
    ViewBag.Title = "MerchantTribe Refund Policy | Online Stores and Hosted Shopping Carts";
    ViewBag.MetaDescription = "MerchantTribe Hosted Refund Policy";
    ViewBag.MetaKeywords = "Refund,Policy,MerchantTribe,commerce,merchant,tribe,bvcommerce,bvsoftware";
    Layout = "~/Areas/signup/Views/Shared/_SignUpLayout.cshtml";
}
<div class="block">  
        <h1>MerchantTribe Service Refund Policy</h1>
                  
        <h3>Free Plans</h3>      
        <p>Free plans are free and are not entitled to refunds of any kind.</p>
        <h3>Paid Plans</h3>
        <p>MerchantTribe offers a free plan where you can try out the service before paying.</p>
        <p>Paid plans are charged immediately upon signup for the first time and no refunds will be given.</p>
        <p>If you cancel your paid account before you are billed on your monthly billing date, you won't be charged for the next month but no refunds will be given for charges already made.</p>        
        <p>Once you cancel you won't be charged again, but you are responsible for whatever charges have already been incurred for the current billing period. For example, if your billing cycle is on the 18th of every month, and you cancel on the 24th, you will not be charged again but the previous charge on your card will not be refunded. In order to treat everyone equally, no exceptions will be made.</p>        
        <h3>When is my billing date?</h3>
        <p>Billing date is determined by the day that you first registered. For example, if you sign up on the 5th of the month, your billing date is the 5th of every month. If you sign up on the 29th or later in the month your billing date will be the 28th of each month.</p>
        <h3>How do I cancel my account?</h3>  
        <p>You can cancel your account at any time by logging into your account at <a href="http://www.bvcommerce.com/account">http://www.bvcommerce.com/account</a> and selecting and clicking the "Please cancel my account" link.<br />
        You can also downgrade your account to a free plan if you do not exceed the sales and product limits of a free plan.</p>                        
</div>              
